<!DOCTYPE html>
<!-- saved from url=(0048)https://getbootstrap.com/docs/5.2/examples/blog/ -->
<html lang="UTF-8">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.104.2">
  <title>market</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/blog/">


  <link href="/public/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <!-- Favicons -->
  <link rel="apple-touch-icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/apple-touch-icon.png"
    sizes="180x180">
  <link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon-32x32.png" sizes="32x32"
    type="image/png">
  <link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon-16x16.png" sizes="16x16"
    type="image/png">
  <link rel="manifest" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/safari-pinned-tab.svg"
    color="#712cf9">
  <link rel="icon" href="https://getbootstrap.com/docs/5.2/assets/img/favicons/favicon.ico">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <link href="/public/css/blog.css" rel="stylesheet">
  <link href="/public/css/details.css" rel="stylesheet">
  <link href="/public/css/button.css" rel="stylesheet">
  <link href="/public/css/gnb.css" rel="stylesheet">
  <link href="/public/css/jnmall.css" rel="stylesheet">
  <link href="/public/css/rcc-p.css" rel="stylesheet">
  <link href="/public/css/rcc-p.css" rel="stylesheet">
  <link href="/public/css/shop.css" rel="stylesheet">
  <link href="/public/css/shopcategory_style.css" rel="stylesheet">
  <link href="/public/css/style.css" rel="stylesheet">
  <link href="/public/css/swiper.css" rel="stylesheet">
  <link href="/public/css/design.css" rel="stylesheet">
  <link href="/public/css/layout.css" rel="stylesheet">
  <meta name="theme-color" content="#712cf9">


  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }

    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }

    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }

    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }

    .grid {
      float: left;
    }
  </style>


  <!-- Custom styles for this template -->
  <link href="/public/css/css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="/public/css/blog.css" rel="stylesheet">
</head>

<body>

  <div class="container">
    <header class="blog-header lh-1 py-3">
      <div class="row flex-nowrap justify-content-between align-items-center">
        <div class="col-4 pt-1">
          <a class="link-secondary" href="/public/home.html"></a>
        </div>
        <div class="col-5 text-center">
          <a class="blog-header-logo text-dark" href="/public/home.html">농수산물 도매 시장</a>
        </div>
        <div class="col-4 d-flex justify-content-end align-items-center">
          <a class="link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor"
              stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img"
              viewBox="0 0 24 24">
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5"></circle>
              <path d="M21 21l-5.2-5.2"></path>
            </svg>
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="/public/login.html">Sign in</a>
        </div>
      </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
      <nav class="nav d-flex justify-content-between">
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">World</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">U.S.</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Technology</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Design</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Culture</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Business</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Politics</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Opinion</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Science</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Health</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Style</a>
        <a class="p-2 link-secondary" href="https://getbootstrap.com/docs/5.2/examples/blog/#">Travel</a>
      </nav>
    </div>
  </div>

  <main class="container">
    <div class="p-4 mb-4 rounded">
      <img src="/public/img/농수산물.png" style="width: 100%; height: 300px;">
    </div>
    <div>
      <div class="goodsList01 goodsDirectBuy">
        <table>
          <tbody>
            <tr>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-23844-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-23844-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="23844-TCBOARD_ABS_goods_LIST_index18738" grp-name="(영광군수협) 몸에좋은 굴비 진공굴비 600g/700g"
                          grp-tax="A" qty-min="1" qty-max="0" dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-23844-1002001"><img src="./img/사과.jpg" border="0"
                                        width="800" height="800" alt="(영광군수협) 몸에좋은 굴비 진공굴비 600g/700g"
                                        class="AB-img-full-w"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_23844-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">49,100<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-23844-1002001">굴비 진공굴비
                            </a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-23844-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-7293-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-7293-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="7293-TCBOARD_ABS_goods_LIST_index18738" grp-name="(옥당골 신선유) 저온착유 국내산 전통 참기름/생들기름"
                          grp-tax="C" qty-min="1" qty-max="0" dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-7293-1005004"><img src="./img/사과.jpg" border="0" width="800"
                                        height="800" alt="(옥당골 신선유) 저온착유 국내산 전통 참기름/생들기름" class="AB-img-full-w"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_7293-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">16,100<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-7293-1005004">국내산 전통
                              참기름/생들기름</a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-7293-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-8897-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-8897-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="8897-TCBOARD_ABS_goods_LIST_index18738" grp-name="(해오름팜) 동물복지 숲속맑은 유정란(30/40/60/90구)"
                          grp-tax="A" qty-min="1" qty-max="0" dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-8897-1003005"><img src="./img/사과.jpg" border="0" width="800"
                                        height="800" alt="(해오름팜) 동물복지 숲속맑은 유정란(30/40/60/90구)" class="AB-img-full-w"></a>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_8897-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">21,600<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-8897-1003005">동물복지
                              유정란</a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-8897-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-29365-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-29365-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="29365-TCBOARD_ABS_goods_LIST_index18738" grp-name="(순천참한우) 농협안심한우 1등급 채끝 300g (냉장)"
                          grp-tax="A" qty-min="1" qty-max="0" dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-29365-1003001"><img src="./img/사과.jpg" border="0"
                                        width="800" height="800" alt="(순천참한우) 농협안심한우 1등급 채끝 300g (냉장)"
                                        class="AB-img-full-w"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_29365-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">21,300<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-29365-1003001">(순천참한우) 농협안심한우 1등급 채끝 300g
                              (냉장)</a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-29365-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-19337-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-19337-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="19337-TCBOARD_ABS_goods_LIST_index18738" grp-name="(남해바다수산) 완도 남해바다 활전복 1.5kg (산소포장)"
                          grp-tax="A" qty-min="1" qty-max="0" dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-19337-1002002"><img src="./img/사과.jpg" border="0"
                                        width="800" height="800" alt="(남해바다수산) 완도 남해바다 활전복 1.5kg (산소포장)"
                                        class="AB-img-full-w"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_19337-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">52,700<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-19337-1002002">완도 남해바다 활전복 1.5kg
                            </a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-19337-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-32713-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-32713-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="32713-TCBOARD_ABS_goods_LIST_index18738" grp-name="(이룸팜스) 달콤아삭 가정용 나주배 5kg/15kg (내외)"
                          grp-tax="A" qty-min="1" qty-max="0" dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-32713-1001001"><img src="./img/한우.jpg" border="0"
                                        width="800" height="800" alt="(이룸팜스) 달콤아삭 가정용 나주배 5kg/15kg (내외)"
                                        class="AB-img-full-w"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_32713-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">15,000<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-32713-1001001">가정용 나주배
                            </a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-32713-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-23950-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-23950-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="23950-TCBOARD_ABS_goods_LIST_index18738"
                          grp-name="(녹색한우) 무항생제 한우 등심 200g (냉동곰탕 500g 증정)" grp-tax="A" qty-min="1" qty-max="0"
                          dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-23950-1003001"><img src="./img/한우.jpg" border="0"
                                        width="800" height="800" alt="(녹색한우) 무항생제 한우 등심 200g (냉동곰탕 500g 증정)"
                                        class="AB-img-full-w"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_23950-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">34,600<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-23950-1003001">(녹색한우) 무항생제 한우 등심 200g (냉동곰탕
                              500g 증정)</a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-23950-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-8762-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-8762-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="8762-TCBOARD_ABS_goods_LIST_index18738"
                          grp-name="(자연락 남도김치)고흥 100% 국내산 푸짐한 포기 배추김치 2kg~10kg" grp-tax="A" qty-min="1" qty-max="0"
                          dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-8762-1005005"><img src="./img/한우.jpg" border="0" width="800"
                                        height="800" alt="(자연락 남도김치)고흥 100% 국내산 푸짐한 포기 배추김치 2kg~10kg"
                                        class="AB-img-full-w"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_8762-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">18,100<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-8762-1005005">푸짐한 포기
                              배추김치</a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-8762-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-32268-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-32268-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="32268-TCBOARD_ABS_goods_LIST_index18738"
                          grp-name="(행운가족농원) 나주 행운배 혼합세트 (배+사과) 4kg/6kg/8kg" grp-tax="A" qty-min="1" qty-max="0"
                          dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-32268-1001001"><img src="./img/한우.jpg" border="0"
                                        width="800" height="800" alt="(행운가족농원) 나주 행운배 혼합세트 (배+사과) 4kg/6kg/8kg"
                                        class="AB-img-full-w"></a></div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_32268-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">38,000<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-32268-1001001"> 혼합세트
                            </a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-32268-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
              <td width="24"></td>
              <td class="-tblGoodsList">
                <table style="margin-bottom:30px;">
                  <tbody>
                    <tr>
                      <td width="240">
                        <div
                          class="GoodsWrap-208015-TCBOARD_ABS_goods_LIST_index18738 -calc-grp calc categoryin_item_content"
                          id="GoodsWrap-208015-TCBOARD_ABS_goods_LIST_index18738"
                          grp-idx="208015-TCBOARD_ABS_goods_LIST_index18738"
                          grp-name="(청자골한우리) 한우 암소1등급 구이선물세트 1kg (꽃등심500g+채끝500g)" grp-tax="A" qty-min="1" qty-max="0"
                          dsbl="dsbl">
                          <div class="-fdThumb" style="margin-bottom:15px;">
                            <div class="-bdThumbZoom">
                              <div>
                                <div>
                                  <div style="border-radius: 11px;overflow: hidden;"><a
                                      href="kwa-ABS_goods_v-208015-1003001"><img src="./img/한우.jpg" border="0"
                                        width="800" height="800" alt="(청자골한우리) 한우 암소1등급 구이선물세트 1kg (꽃등심500g+채끝500g)"
                                        class="AB-img-full-w"></a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="-fdGoodsPrice">
                            <div>&nbsp;<strong><span id="price_total_208015-TCBOARD_ABS_goods_LIST_index18738"
                                  class="ABS-sell-price">92,600<span class="money-unit">원</span></span></strong></div>
                          </div>
                          <div class="-fdGoodsName"><a href="kwa-ABS_goods_v-208015-1003001">한우 암소1등급 구이선물세트
                              1kg</a></div>
                          <div class="-fdGoodsDesc1"></div>
                          <div class="-fdViewIcons" style="padding-top: 5px;"></div>
                          <div>
                            <div id="ost-GoodsWrap-208015-TCBOARD_ABS_goods_LIST_index18738" class="opt-selects-this">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </main>

  <footer class="blog-footer grid" style="width:100%">
    <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a
        href="https://twitter.com/mdo">@mdo</a>.</p>
    <p>
      <a href="https://getbootstrap.com/docs/5.2/examples/blog/#">Back to top</a>
    </p>
  </footer>

</body>

</html>