<div class="container">
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                <a class="link-secondary" href="./home"></a>
            </div>
            <div class="col-7 text-center">
                <a class="blog-header-logo text-dark" href="./home">농수산물 도매 시장</a>
            </div>
            <div class="col-lg-3">
                <div class="header__top__right__auth">
                    <% if(sessionEmail==undefined){%>
                        <a href="/"><i class="fa fa-user"></i> Login</a>
                        <%} else{%>
                            <a href="/logout"><i class="fa fa-user"></i> Logout</a>
                            <%}%>
                </div>
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                        <li><a href="/user/cart"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                    </ul>
                    <% if (sessionName !=undefined){ %>
                        <div class="header__cart__price">
                            <%=sessionName%>님 <span>환영합니다.</span>
                        </div>
                        <%} else{%>
                            <div class="header__cart__price"> <a href="">로그인</a></div>
                            <%}%>
                </div>
            </div>
        </div>
    </header>
</div>